{{ partial "header.html" . }}

<div id="references">
    <div>
        <div class="reference-title">TOURNAGE</div>
        <div class="reference-gallery">
            {{ range where .Data.Pages  "Params.categorie" "tournage"}}
                    <img  src="/{{.Params.image}}" />
            {{end}}
        </div>
    </div>
    <div>
        <div>
            <div class="reference-title">ÉVENEMENTIEL</div>
            <div class="reference-gallery">
            {{ range where .Data.Pages  "Params.categorie" "evenementiel"}}
                    <img  src="/{{.Params.image}}" />
            {{end}}
        </div>
        <div></div>
    </div>
    </div>
    <div>
        <div class="reference-title">LIEU</div>
    <div class="reference-gallery">
            {{ range where .Data.Pages  "Params.categorie" "lieu"}}
                    <img  src="/{{.Params.image}}" />
            {{end}}
    </div>
    </div>
</div>

{{ partial "footer.html" . }}
