<img src="{{.Site.Params.image}}">
<div>
    <span>BIENVENUE !</span>
    <p>ARTISTE DE CIRQUE, PERFORMER, JONGLEUR ET SCULPTEUR
        DE BALLONS, JE RÉALISE SEUL OU EN GROUPE DES PERFORMANCES
        ARTISTIQUES À LA HAUTEUR DE VOS ÉVÈNEMENTS.</p>
    <p>JE PROPOSE DES SPECTACLES DE DIFFÉRENTES LONGUEURS,
        DES ANIMATIONS EN FIXE OU EN DÉAMBULATION AINSI QUE
        DE VÉRITABLES CRÉATIONS SUR MESURE.</p>
    <p>BASÉ À PARIS, JE SUIS MOBILE ET JE PEUX INTERVENIR
  EN FRANCE COMME À L'ÉTRANGER.</p>
  <span>
  CONTACT@MANOEL-ARTISTE.FR 06.29.64.17.82
  </span>
</div>
