<img src="{{.Site.Params.image}}">
<div>
    <span>Bienvenue !</span>
    <p>Artiste de cirque, performer, jongleur et sculpteur
        de ballons, je réalise seul ou en groupe des performances
        artistiques à la hauteur de vos évènements.</p>
    <p>Je propose des spectacles de différentes longueurs,
        des animations en fixe ou en déambulation ainsi que
        de véritables créations sur mesure.</p>
    <p>Basé à Paris, je suis très mobile et je peux intervenir
        dans toute la France et à l'étranger sans difficultés.</p>
</div>
