{{if eq .URL "/"}}
<div class="project-image">
    {{ range .Site.Params.images }}
    <div>
        <img class="project" src="/{{.}}" />
    </div>
    {{end}}
</div>
{{end}}
<a href="/">
    <div id="header-container" class='{{if eq .URL "/"}}home-{{end}}header '>
        <div id="header">
            <h2>ARTISTE</h2>
            <h1 id="title-name">MANOËL MATHIS</h1>
            <h2>PERFORMER</h2>
        </div>
        <div id="header-mobile">
            <div>
                <div>
                    <h1 id="title-name-mobile">MANOËL MATHIS</h1>
                </div>
                <div>
                    <div>
                        <h2>ARTISTE</h2></div>
                    <div>
                        <h2>PERFORMER</h2></div>
                </div>
            </div>
            <label for="icon-menu" id="menu-click">
                <img src="/img/icons/menu.png">
            </label>
        </div>
    </div>
</a>
<input type="checkbox" id="icon-menu">
<nav>
    <ul>
        {{ $currentURL := .URL }} {{range .Site.Menus.main}}
        <li class="{{if eq $currentURL .URL}}nav-active{{end}}">
            <a href="{{.URL}}">
                <h4>{{.Name}}</h4>
            </a>
        </li>
        {{end}}
    </ul>
</nav>
