@blue: #09324b;
@blueTransparent: rgba(9,50,75,0.5) ;
@red: #be1428;
@redTransparent:rgba(190,20,40,0.5) ;
@blueBis:#7B909C;
@widthHeader : 700px;
@goldenNumber : 50px;
@contentWidth : 80%;
@footerSize : 13px;

@font-face {
  font-family: 'SourceCode';
  src:url('fonts/SourceCodePro-Regular.woff') format('woff'),
  url('fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Brushmark';
  src:url('fonts/BrushmarkTrema.woff') format('woff'),
  url('fonts/BrushmarkTrema.ttf') format('truetype');
}

body{
  background-color: #eee;
  font-family: 'SourceCode', sans-serif;
}
html, body{
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

#page-container {
  min-height: 100%;
  margin-bottom: -@footerSize;
}
#page-container:after {
  content: "";
  display: block;
  height: @footerSize;
}

footer{
  height: @footerSize;
  text-align: center;
  font-size: 10px;
  background-color: #fff;
  a{
    color: @blue;
  }
}


#header-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: @goldenNumber;

}
.home-header {
  position: absolute;
  top: 0;
}
.header{
  position: static;
  background-color: @blue;
}

#header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: @widthHeader;
  color: #fff;

  h1{
    font-size: 30pt;
    margin:  0;
    font-weight: normal;
  }
  h2{
    font-weight: normal;
    letter-spacing: 5px;
    font-size: 16pt;
    margin:  0;
  }

}

#title-name{
  font-family: 'Brushmark', sans-serif;
  letter-spacing: 1px;
}

.project-image {
  width: 100%;
  margin: 0;
  img {
    width: 100%;
    margin: auto;
  }
}

.home-page{
  display: block;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
  z-index: -10;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: @goldenNumber;
  margin-bottom: @goldenNumber;
  background-color: #fff;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: @widthHeader;
  }
  li {
    list-style-type: none;
    :hover{
      color: @red;
    }
    a{
      color:@blue;
      letter-spacing: 4px;
    }
    h4{
      padding: 15px 0;
      margin : 0;

    }
  }
  .nav-active{
    a{
      color: @red;
    }
  }
}

#home{
  background: @blueTransparent;
  width:@contentWidth;
  margin: 0 auto @goldenNumber auto;
  display: flex;
  img{
    width: 300px;
    height: 300px;
    margin: @goldenNumber;
  }
  div{
    margin-right: @goldenNumber;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p{
    margin: 8px 0 0 0;
  }
}

.prestation-title{
  letter-spacing: 4px;
  color: #fff;
}

#prestations{
  width: @contentWidth;
  margin: auto;
  >div {
    border-top: 1px solid @blue;
    font-size: 11pt;
    a {
      display: flex;
      justify-content: space-between;
      max-height: 2*@goldenNumber;
      margin: @goldenNumber/2 0;

      background-color: @blueTransparent;
      > div {
        width: 30% ;
        padding: @goldenNumber/2;
      }
      img {
        height: @goldenNumber*2;
        justify-self: flex-end;
      }
    }
  }
  :nth-child(1){
    border:transparent;
    a{
      margin-top: 0;
    }
  }
  :last-child a{
    margin-bottom: @goldenNumber;
  }
  >div:hover{
    a{
      background-color: @redTransparent;
    }
  }
}

#prestation {
  width: @contentWidth;
  margin: auto;
  > * {
    margin-bottom: @goldenNumber;
  }
  > div:nth-of-type(1) {
    background-color: @blueTransparent;
    display: flex;
    justify-content: space-between;
    max-height: 2*@goldenNumber;
    > div {
      padding: @goldenNumber/2;
    }
  }
  iframe {
    width: 728px;
    height: 410px;
    display: block;
    margin: auto;
  }
  > div:nth-of-type(3) {
    text-align: justify;
  }
  > div:nth-of-type(4) {
    img:hover~div{
      display: inline;
    }
    div:hover{
      display: inline-block;
    }
    img {
      vertical-align: bottom;
    }


  }
}

#photos{
  > * {
    margin-bottom: @goldenNumber;
  }
  width: @contentWidth;
  margin: auto;
  img:hover~div{
    display: inline;
  }
  div:hover{
    display: inline-block;
  }
  img {
    vertical-align: bottom;
  }


}

#agenda{
  > * {
    margin-bottom: @goldenNumber;
  }
  width: @contentWidth;
  margin: auto;
  a{
    text-decoration: underline;
  }
  >div:nth-of-type(1) {
    background-color: @blue;
    width: 250px;
    margin: @goldenNumber/2 auto ;
    padding: @goldenNumber/3;
    color: #fff;
  }
  >div:nth-of-type(2) {
    padding: 0 @goldenNumber/2;
    >div{
      padding:  @goldenNumber/2 0;
      border-top: 2px solid @blueTransparent;
    }
    >div:last-child{
      margin-bottom: @goldenNumber;
    }
    div>div:nth-of-type(1){
      background-color: @blueTransparent;
      padding: @goldenNumber/2;
      color: #fff;
    }
    div> div:nth-of-type(2){
      background-color: #fff;
      padding: @goldenNumber/2;
      color:@blue;
    }
    div:hover{
      >div:nth-of-type(1){
        background-color: @redTransparent;
      }
    }
  }
}

#references{
  > * {
    margin-bottom: @goldenNumber;
  }
  width: @contentWidth;
  margin: auto;
  display: flex;
  >div{
    width: 33%;
    border-right: 2px solid @blueTransparent;
  }
  .reference-gallery{

     margin-left: @goldenNumber/2;
    table-layout: fixed;
  tr{
    width: 100%;
  }
    img{
    border-bottom: 2px solid @blueTransparent;
    }
  }
  >div:last-child{
    border-right: transparent;
  }

  img{
    height: 80px;
    padding: @goldenNumber/2 ;
  }
  .reference-title{
    background-color: @blueTransparent;
    height: @goldenNumber*2;
    margin: 0 @goldenNumber/2 @goldenNumber/2 @goldenNumber/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}


.table-images{
  img{
    height: 200px;
  }
  tr:first-child{
    div{
      padding-top: 0;
    }
  }
  tr:last-child{
    div{
      border-bottom: transparent;
      padding-bottom: 0;
    }
  }
  tr{
    td:first-child{
      div{
        padding-left: 0;
      }
    }
    td:nth-child(3){
      div{
        border-right: transparent;
        padding-right: 0;
      }
    }
    td{
      a>div>div{
        margin: 0 10px;
      }
    }
  }
}

#contact{
  > * {
    margin-bottom: @goldenNumber;
  }
  width: @contentWidth;
  margin: auto;
  color:@blue;
  div{
    width: 35%;
    margin-right: @goldenNumber;
    text-align: justify;
  }
  span{
    display: block;
  }
  display: flex;
  justify-content: space-between;
  form{
    width: 100%;
    td{
      border: 2px solid @blue;
      color: #fff;
    }
    input, textarea{
      height: 100%;
      width: 98%;
      background-color: @blueBis;
      border: transparent;
      border: 0;
      padding-left: 2%;
      -moz-box-sizing: border-box;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px @blueBis inset;
      -webkit-text-fill-color: #fff;
    }
    textarea{
      width: 97.6%;
      height: 97.6%;
      resize: none;
    }
    input[type="submit"]{
      margin-top: @goldenNumber/2;
      height: @goldenNumber;
      color: #fff;
      width: 100%;
    }
    .double-size{
      height: @goldenNumber*2;
    }
    tr td:first-of-type{
      min-width: @goldenNumber*2;
      padding: @goldenNumber/2;
      background-color: @blueBis;
    }
    tr td:last-of-type{
      div{
        width: 100%;
        background-color: #eee;
      }
      width: 100%;
      background-color: @blueBis;
    }
  }
}


.image-gallery{
  padding: @goldenNumber/2;
  border-right: 2px solid @blueTransparent;
  border-bottom: 2px solid @blueTransparent;
  text-align: center;
}

.image-drawer{
  display: none;
  width: 100%;
  height: @goldenNumber;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: start;
  vertical-align: middle;
  color: #fff;
  line-height: @goldenNumber/2;
  overflow: hidden;
  background-color: @redTransparent;
}
.image-container{
  position: relative;
  display: inline;
}



