{{if eq .URL "/"}}
    <div class="project-image">
        {{ range .Site.Params.images }}
        <div>
            <img class="project" src="/{{.}}" />
        </div>
        {{end}}
    </div>
{{end}}
<a href="/">
    <div id="header-container" class='{{if ne .URL "/"}}header{{end}} {{if eq .URL "/"}}home-header{{end}}'>
        <div id="header">
            <h2>ARTISTE</h2>
            <h1 id="title-name">MANOËL MATHIS</h1>
            <h2>PERFORMER</h2>
        </div>
    </div>
</a>

<nav>
    <ul>
        {{ $currentURL := .URL }}
        {{range .Site.Menus.main}}
        <li class="{{if eq $currentURL .URL}}nav-active{{end}}">
            <a href="{{.URL}}">
                <h4>{{.Name}}</h4>
            </a>
        </li>
        {{end}}
    </ul>
</nav>

