{{ partial "header.html" . }}
<div id="nav">
{{ partial "nav.html" . }}
</div>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload=""></iframe>
<form action="https://docs.google.com/forms/d/16XhO_GVXl5CFmj4C5gWRodj6Bax1X5OIKRINqJestro/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_373112740"><div class="ss-q-title">Mail :
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input name="entry.373112740" value="" class="ss-q-short" id="entry_373112740" dir="auto" aria-label="mail  " title="" type="text">
<div class="error-message" id="580114244_errorMessage"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_68831290"><div class="ss-q-title">Message :
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.68831290" rows="8" cols="0" class="ss-q-long" id="entry_68831290" dir="auto" aria-label="message  "></textarea>
<div class="error-message" id="109680418_errorMessage"></div>
</div></div></div>
<input name="draftResponse" value="[,,&quot;9109889300868274424&quot;]
" type="hidden">
<input name="pageHistory" value="0" type="hidden">

<input name="fvv" value="0" type="hidden">


<input name="fbzx" value="9109889300868274424" type="hidden">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input name="submit" value="Envoyer" id="ss-submit" class="jfk-button jfk-button-action " type="submit">
</td>
</tr></tbody></table></div></ol></form>



	
{{ partial "footer.html" . }}