{{ partial "header.html" . }}

<div id="contact">
    <div>
        <p>
            <span>Vous avez des questions, besoin d'un devis ou d'information ?</span>
            <span>N'hesitez pas à prendre contact avec moi !</span>
        </p>
        <p>
    <span>
        Manoël Mathis
    </span>
        <span>
            +33 (0)6.29.64.17.82
        </span>
        <span>
            monmail@mail.com
        </span>
        <span>
            Paris, Ile-de-France
        </span>
        </p>
    </div>


<form action="//formspree.io/erik.aouizerate@gmail.com"
      method="POST">
    <table>
        <tr>
            <td>
                <label for="name">NOM</label>
            </td>
            <td>
                <input type="text" name="name" id="name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">EMAIL</label>
            </td>
            <td>
                <input type="email" name="_replyto"id="email">
            </td>
        </tr>
        <tr>
            <td>
                <label for="telephone">TÉLÉPHONE</label>
            </td>
            <td>
                <input type="text" name="telephone"id="telephone">
            </td>
        </tr>
        <tr>
            <td>
                <label for="societe">SOCIÉTÉ</label>
            </td>
            <td>
                <input type="text" name="societe"id="societe">
            </td>
        </tr>
        <tr class="double-size">
            <td>
                <label for="message">MESSAGE</label>
            </td>
            <td>
                <textarea name="message" id="message"></textarea>
            </td>
        </tr>
    </table>

    <input type="submit" value="Send">
</form>

</div>

{{ partial "footer.html" . }}
